Source: kdegames
Section: games
Priority: extra
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Daniel Schepler <schepler@debian.org>, Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>, Armin Berres <trigger+debian@space-based.de>, Matthew Rosewarne <mrosewarne@inoutbox.com>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), cmake, quilt, kdelibs5-dev (>= 4:4.0.1-1),
 libphonon-dev (>= 4:4.0.1-1), ggzcore-bin
Standards-Version: 3.7.3
Homepage: http://games.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdegames
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdegames

Package: kdegames
Architecture: all
Section: kde
Depends: bovo (>= ${source:Version}), katomic (>= ${source:Version}),
 kbattleship (>= ${source:Version}), kblackbox (>= ${source:Version}),
 kbounce (>= ${source:Version}), kgoldrunner (>= ${source:Version}),
 kiriki (>= ${source:Version}), kjumpingcube (>= ${source:Version}),
 klines (>= ${source:Version}), kmahjongg (>= ${source:Version}),
 kmines (>= ${source:Version}), knetwalk (>= ${source:Version}),
 kolf (>= ${source:Version}), konquest (>= ${source:Version}),
 kpat (>= ${source:Version}), kreversi (>= ${source:Version}),
 ksame (>= ${source:Version}), kshisen (>= ${source:Version}),
 kspaceduel (>= ${source:Version}), ksudoku (>= ${source:Version}),
 ksquares (>= ${source:Version}), ktuberling (>= ${source:Version}),
 kfourinline (>= ${source:Version}), lskat (>= ${source:Version})
Description: games from the official KDE 4 release
 KDE is produced by an international technology team that creates free and open
 source software for desktop and portable computing. Among KDE's products are a
 modern desktop system for Linux and UNIX platforms, comprehensive office
 productivity and groupware suites and hundreds of software titles in many
 categories including Internet and web applications, multimedia, entertainment,
 educational, graphics and software development.
 .
 This metapackage includes a collection of games provided with the official
 release of KDE 4.

Package: libkdegames4
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Replaces: libkdegames1
Description: libraries and common files for KDE 4 games
 This package contains shared libraries and common infrastructure used by KDE 4
 games, including support for the GNU Gaming Zone online gaming environment.
 .
 This package is part of the KDE 4 games module.

Package: kdegames-dbg
Architecture: any
Priority: extra
Section: kde
Depends: kdebase-runtime-dbg
Suggests: kdegames (= ${source:Version})
Description: debugging symbols for the KDE 4 games module
 This package contains debugging files used to investigate problems with
 binaries included in the KDE 4 games module.

Package: libkdegames-dev
Architecture: any
Section: libdevel
Depends: kdelibs5-dev (>= 4:4.0.1-1), libkdegames4 (= ${binary:Version})
Description: development files for the KDE 4 games module
 This package contains development files for building software that uses
 libraries from the KDE 4 games module.

Package: kdegames-card-data
Architecture: all
Section: kde
Description: card decks for KDE 4 games
 This package contains a collection of playing card themes for KDE 4 card games.
 .
 This package is part of the KDE 4 games module.

Package: kdegames-mahjongg-data
Architecture: all
Section: kde
Description: tilesets and backgrounds for Mahjongg games
 This package contains a collection of tilesets and backgrounds for KMahjongg
 and KShisen.
 .
 This package is part of the KDE 4 games module.

Package: bovo
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Gomoku board game for KDE 4
 Bovo is a game where two players take turns placing markers on the board,
 the winner being the first to complete a line of five markers.
 .
 This package is part of the KDE 4 games module.

Package: katomic
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Atomix puzzle game for KDE 4
 KAtomic is a puzzle game in which the player slides atoms around the board to
 assemble a molecule.
 .
 This package is part of the KDE 4 games module.

Package: kbattleship
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Battleship board game for KDE 4
 KBattleship is an implementation of the Battleship game, where two players
 take turns firing at the opponent's ships by guessing their coordinates.
 .
 This package is part of the KDE 4 games module.

Package: kblackbox
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Black Box puzzle game for KDE 4
 KBlackBox is a game of hide and seek played on an grid of boxes, where the
 player shoots rays into the grid to deduce the positions of hidden objects.
 .
 This package is part of the KDE 4 games module.

Package: kbounce
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Jezzball arcade game for KDE 4
 KBounce is a game where the player builds walls to confine a number of
 bouncing balls.
 .
 This package is part of the KDE 4 games module.

Package: kgoldrunner
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Lode Runner arcade game for KDE 4
 KGoldrunner is a fast-paced platform game where the player must navigate a
 maze while collecting gold nuggets and avoiding enemies.  A variety of level
 packs are included, as well as an editor to create new levels.
 .
 This package is part of the KDE 4 games module.

Package: kiriki
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Yahtzee dice game for KDE 4
 Kiriki is a dice game for up to six players, where each player rolls five dice
 to make combinations with the highest score.
 .
 This package is part of the KDE 4 games module.

Package: kjumpingcube
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: simple tactical game for KDE 4
 KJumpingcube is a simple tactical game for one or two players, played on a
 grid of numbered squares.  Each turn, players compete for control of the board
 by capturing or adding to one square.
 .
 This package is part of the KDE 4 games module.

Package: klines
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Color Lines game for KDE 4
 KLines is a single-player game where the player removes colored balls from the
 board by arranging them into lines of five or more.  However, every time the
 player moves a ball, three more balls are added to the board.
 .
 This package is part of the KDE 4 games module.

Package: kmahjongg
Architecture: any
Section: games
Depends: ${shlibs:Depends}, kdegames-mahjongg-data (>= ${source:Version})
Description: Mahjongg solitaire game for KDE 4
 KMahjongg is a solitaire game where the player removes matching Mahjongg tiles
 to clear the board.  A variety of tile layouts are included, as well as an
 editor to create new layouts.
 .
 This package is part of the KDE 4 games module.

Package: kmines
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Minesweeper game for KDE 4
 KMines is a game where the player finds hidden mines without setting them off.
 .
 This package is part of the KDE 4 games module.

Package: knetwalk
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: wire puzzle game for KDE 4
 KNetwalk is a puzzle game where the player arranges sections of wire to
 connect all the computers on the board.
 .
 This package is part of the KDE 4 games module.

Package: kolf
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: miniature golf game for KDE 4
 Kolf is a miniature golf game for one to ten players.  A variety of courses
 are included, as well as an editor to create new courses.
 .
 This package is part of the KDE 4 games module.

Package: konquest
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: simple turn-based strategy game for KDE 4
 Konquest is a game of galactic conquest for KDE 4, where rival empires vie to
 conquer planets and crush all opposition.  The game can be played with up to
 nine empires, commanded either by the computer or by puny earthlings.
 .
 This package is part of the KDE 4 games module.

Package: kpat
Architecture: any
Section: games
Depends: ${shlibs:Depends}, kdegames-card-data (>= ${source:Version})
Description: solitaire card games for KDE 4
 KPatience is a collection of fourteen solitaire card games, including Klondike,
 Spider, and FreeCell.
 .
 This package is part of the KDE 4 games module.

Package: kreversi
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Reversi board game for KDE 4
 KReversi is a board game where two players place pieces on the board to flip
 the opponent's pieces.  When neither player can flip any more pieces, the
 player with the most pieces on the board wins the game.
 .
 This package is part of the KDE 4 games module.

Package: ksame
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: SameGame puzzle game for KDE 4
 KSame is a puzzle game where the player removes groups of colored marbles to
 clear the board.
 .
 This package is part of the KDE 4 games module.

Package: kshisen
Architecture: any
Section: games
Depends: ${shlibs:Depends}, kdegames-mahjongg-data (>= ${source:Version})
Description: Shisen-Sho solitaire game for KDE 4
 KShisen is a Shisen-Sho game where the player removes adjascent pairs of
 Mahjongg tiles to clear the board.
 .
 This package is part of the KDE 4 games module.

Package: kspaceduel
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: SpaceWar! arcade game for KDE 4
 KSpaceduel is a space battle game for one or two players, where two ships fly
 around a star in a struggle to be the only survivor.
 .
 This package is part of the KDE 4 games module.

Package: ksquares
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Dots and Boxes game for KDE 4
 KSquares is a game where two players take turns connecting dots on a grid to
 complete the most squares.
 .
 This package is part of the KDE 4 games module.

Package: ksudoku
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Sudoku puzzle game and solver for KDE 4
 KSudoku is a Sudoku game and solver, supporting a range of 2D and 3D Sudoku
 variants.  In addition to playing Sudoku, it can print Sudoku puzzle sheets
 and find the solution to any Sudoku puzzle.
 .
 This package is part of the KDE 4 games module.

Package: ktuberling
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: stamp drawing toy for KDE 4
 KTuberling is a drawing toy for small children with several activites.
 .
  * Give the potato a funny face, clothes, and other goodies
  * Build a small town, complete with school, zoo, and fire department
  * Create a fantastic moonscape with spaceships and aliens
 .
 KTuberling can speak the name of each the object in several languages,
 to assist in learning basic vocabulary.
 .
 This package is part of the KDE 4 games module.

Package: kfourinline
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: Connect Four game for KDE
 KFourInLine is a game where two players take turns dropping pieces into a grid,
 the winner being the first to place four pieces in a line.
 .
 This package is part of the KDE 4 games module.

Package: lskat
Architecture: any
Section: games
Depends: ${shlibs:Depends}, kdegames-card-data (>= ${source:Version})
Description: Lieutnant Skat card game for KDE
 Lieutnant Skat is a simplified variant of the Skat card game for two players.
 .
 This package is part of the KDE 4 games module.
