#!/usr/bin/make -f
 
include debian/cdbs/kde.mk

DEB_CMAKE_EXTRA_FLAGS := -DBIN_INSTALL_DIR=/usr/games

DEB_INSTALL_DOCS_ALL :=

DEB_INSTALL_CHANGELOGS_ALL = $(shell for f in ChangeLog CHANGELOG CHANGES; do if test -s $(DEB_SRCDIR)/$(cdbs_curpkg)/$$f; then echo $(DEB_SRCDIR)/$(cdbs_curpkg)/$$f; break; fi; done)

DEB_DH_MAKESHLIBS_ARGS_libkdegames5 := -Vlibkdegames5
DEB_DH_MAKESHLIBS_ARGS_kolf := -V

PACKAGES_WITH_LIBS := libkdegames5 kolf

generate-icons:
	while read src dest; do \
		convert debian/tmp/$$src debian/icons/$$dest; \
	done <debian/icon-list
